body {
        background: #050924;
        text-color: #FFFFFF;
        font-family: fantasy;
}

.infobar {
       .infobar_nav {
                text-decoration: underline;
               
       }
}
